@{
    ViewData["Title"] = "List User";
}

<h1 class ="p-2">@ViewData["Title"]</h1>

<div class="container">
    <table class="table table-hover table-bordered table-light">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Edit</th>
                <th scope="col">Hapus</th>
            </tr>
        </thead>
        <tbody>
            @{
                var data = (List<UserModel>)ViewData["data"]!;
                foreach (var user in data)
                {
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.Username</td>
                        <td>
                            @Html.ActionLink("Ubah", "Edit", new { Id = @user.Id, Username = @user.Username}, new {@class = "btn btn-success"})
                        </td>
                        <td>
                            @Html.ActionLink("Hapus", "DeleteUser", new { Id = @user.Id}, new {@class = "btn btn-danger", onclick ="return confirm('Apakah anda yakin ingin menghapus user ini?')" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @Html.ActionLink("Tambah", "Insert",new {}, new {@class = "btn btn-primary"})
</div>



